---
layout: default
---
<div class="home">
  {% for page in site.posts limit: 3 %}
  <header class="post-header">
    <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="meta">
      <i class="fa fa-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}&nbsp&nbsp&nbsp
      
      {% if page.categories.size > 0 %}
        <i class="fa fa-folder-open"></i>
        {% for category in page.categories %}&nbsp&nbsp<a href="/categories/#{{ category }}">{{ category }}</a>{% endfor %}
      {% endif %}&nbsp&nbsp&nbsp
      
      {% if page.tags.size > 0 %}<i class="fa fa-tags"></i>
        {% for tag in page.tags %}&nbsp&nbsp<a href="/tags/#{{ tag }}">{{ tag }}</a>{% endfor %}
      {% endif %}
    </p>
  </header>
  <article class="post-content">
  {{ page.content }}
  </article>
  {% endfor %}
  <!--
  <ul class="posts">
  {% capture month %}{{ site.time | date:"%m"}}{% endcapture %}
  {% for post in site.posts %}
    {% capture m %}{{ post.date | date:"%m"}}{% endcapture %}
    {% if month != m %}
    {% break %}
    {% endif %}
    <li class="listing-item">
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    </li>
  {% endfor %}
  </ul>
  -->
</div>
